<link rel="stylesheet" type="text/css" href="app/components/shakki/shakki_css.css">

<div>
    <p class="square">PELIÄ POJAT</p>
</div>

<button ng-click="logAll()">log</button>

<div>
    <img src="images/fairy_white/white_mine.png">
</div>

<div>
    <div style="float:left; padding-left: 50px; width:560px; height:560px;">
        <div ng-repeat="row in table">
            <div ng-repeat="column in row" ng-click="activateSquare($parent.$index, $index)">
                <square data="table[$parent.$index][$index]" row="$parent.$index" column="$index"></square>
            </div>
        </div>
    </div>
    <div class="white outerbox">
        <div class="white innerbox">
            {{turncolor}}
        </div>
    </div>
</div>
