.square {
    float: left;
    width: 60px;
    height: 60px;  
    border: 1px solid black;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.chess-container {
    /* display: flex;
    flex-direction: row; */
}

.chess-table {
    order: 1;
    padding-left: 50px; 
    flex: 0 0 560px; 
    /* width: 560px; */
    height:560px;
}

.flexed-container {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
}

.turnbox-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    /* flex: 0 0 100px; */
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid black;
}

.turnbox-inner {
    border-radius: 3px;
    padding: 3px;
    font-size: x-large;
    font-family: fantasy;
}

.messagebox {
    order: 2;
    width: auto;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
}

.scoreboard {
    order: 3;
    border-radius: 8px;
    border: 1px solid black;
}
.mod-container {
	margin-left: 15px;
}

.mod-board {
	/* border: 1px solid black; */
	margin-right: 15px;
}

.mod-row {
}

.mod-col {
	/* width: 50px;
	height: 50px;
	border: 1px solid black; */
}

.mod-square {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

.mod-select {
}

/* mod-select-dm */
.mod-select-dm {
	/* width: 150px;
	height: 400px;
	margin-bottom: 10px;
	border: 1px solid black; */
}

/* mod-select-dm-item */
.mod-select-dm-item {
	width: 150px;
	height: 400px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.mod-select-dm-item-portrait {
	width: 100%;
	height: 25%;
}

.dm-selected {
	background-color: blue;
}

.mod-select-dm-item-stats {
	width: 100%;
	height: 75%;
}

/* mod-select-dungeon */
.mod-select-dungeon {
	
}

/* mod-select-dungeon-item */
.mod-select-dungeon-item {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	border: 1px solid black;
}
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.mleft {
	margin-left: 15px;
}
.tictactoe-container {
	margin-left: 15px;
}

.tictactoe-board {
	/* border: 1px solid black; */
	margin-right: 15px;
}

.tictactoe-row {
}

.tictactoe-col {
	/* width: 50px;
	height: 50px;
	border: 1px solid black; */
}

.tictactoe-square {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}