.tictactoe-container {
	margin-left: 15px;
}

.tictactoe-board {
	/* border: 1px solid black; */
	margin-right: 15px;
}

.tictactoe-row {
}

.tictactoe-col {
	/* width: 50px;
	height: 50px;
	border: 1px solid black; */
}

.tictactoe-square {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

.stats-box {
	width: 400px;
	border: 1px solid black;
}

.mtop {
	margin-top: 15px;
}