<div class="tictactoe-container flex-row">
	<div class="tictactoe-board">
		<div class="flex-row tictactoe-row" ng-repeat="row in board">
			<div class="tictactoe-col" ng-repeat="column in row" ng-click="activateSquare($parent.$index, $index)">
				<tictactoe-square type="column.type"></tictactoe-square>
			</div>
		</div>
	</div>
	<div class='flexed-container'>
		<button ng-click="reset()">Reset</button>
		<div class="white turnbox-outer">
			<div class="white turnbox-inner">
				{{ nextInTurn }}
			</div>
		</div>
		<div class="messagebox">
			{{message}}
		</div>
	</div>
</div>