.mod-container {
	margin-left: 15px;
}

.mod-board {
	/* border: 1px solid black; */
	margin-right: 15px;
}

.mod-row {
}

.mod-col {
	/* width: 50px;
	height: 50px;
	border: 1px solid black; */
}

/* modDungeonGrid */
.mod-dungeon-grid {
	
}

/* modDungeonTile */
.mod-dungeon-tile {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

/* modDungeonGridCanvas */
.mod-dungeon-canvas {
	border: 1px solid black;
}


.mod-select {
}

/* modSelectDm */
.mod-select-dm {
	/* width: 150px;
	height: 400px;
	margin-bottom: 10px;
	border: 1px solid black; */
}

/* modSelectDmItem */
.mod-select-dm-item {
	width: 150px;
	height: 400px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.mod-select-dm-item-portrait {
	width: 100%;
	height: 25%;
}

.dm-selected {
	background-color: blue;
}

.mod-select-dm-item-stats {
	width: 100%;
	height: 75%;
}

/* modSelectDungeon */
.mod-select-dungeon {
	
}

/* modSelectDungeonItem */
.mod-select-dungeon-item {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	border: 1px solid black;
}

/* modBuildDungeon */
.mod-build-dungeon {
	
}

/* modBuildDungeonItem */
.mod-build-dungeon-item {
	width: 200px;
	height: 150px;
}

.mod-build-dungeon-item-portrait {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.mod-build-dungeon-item-info {
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	border: 1px solid black;
}

/* modDmPanel */
.mod-dm-panel {
	border: 1px solid black;
}