.square {
    float: left;
    width: 60px;
    height: 60px; 
    border: 1px solid black;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.outerbox {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid black;
}

.innerbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    padding: 3px;
    font-size: x-large;
    font-family: fantasy;
}

.messagebox {
    float: left;
    position: relative;
    top: 110px;
    left: -100px;
    border-radius: 8px;
    border: 1px solid black;
}

.scoreboard {
    float: left;
    position: relative;
    top: 220px;
    left: -100px;
    border-radius: 8px;
    border: 1px solid black;
}